<!doctype html>
<html lang="en" >
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Photo Manager</title>
   <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
   
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
   <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />

   <link rel="stylesheet" href="app.css" />

   <script src="bower_components/angular/angular.js"></script>
   
   <script src="google-plus/angular-google-plus.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script>
    var app = angular.module('app', ['googleplus']);

    app.config(['GooglePlusProvider', function(GooglePlusProvider) {
         GooglePlusProvider.init({
         });
    }]);

    app.controller('AuthCtrl', ['$scope', 'GooglePlus', function ($scope, GooglePlus) {
        $scope.userul = '';
        $scope.login = function () {
            GooglePlus.login().then(function (authResult) {
                console.log(authResult);

                GooglePlus.getUser().then(function (user) {
                    console.log(user);
                    $scope.userul = user.name;
                });
            }, function (err) {
                console.log(err);
            });
        };
    }]);
    </script>


</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-pencil"></span> Photo Manager</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="glyphicon glyphicon-flag"></span> Language <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">English</a></li>
            <li><a href="#">German</a></li>
            <li><a href="#">Romanian</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <div ng-app="app" ng-controller="AuthCtrl">
    <a href="javascript:void(0);" ng-click="login()">Login with Google Plus</a>
    <p>userul este: {{userul}}</p>
  </div>   -->

      <div class="container" ng-app="app" ng-controller="AuthCtrl">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
                            </fieldset>
                        </form>
                        <br>
                        <p>or</p>
                        <a href="javascript:void(0);" ng-click="login()" class="btn btn-block btn-social btn-google-plus">
                                <i class="fa fa-google-plus"></i> Sign in with Google
                        </a>
                        <br>
                        <p>and the user is: {{userul}}</p>   
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
