<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      
      <!--Sidebar search -->
      <div class="form-group input-group">
        <input type="text" class="form-control" ng-model="$ctrl.query" placeholder="Search for..">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
      </div>
      <div class="form-group">
        <p class="help-block">Sort by:</p>
        <select ng-model="$ctrl.orderProp" class="form-control">
           <option value="location">Location</option>
           <option value="photodate">Date</option>
        </select>
      </div>
    </div>
    <!-- End Sidebar search-->

    <div class="col-md-10">
      <!--Body content-->

      <ul class="photos">
        <li ng-repeat="photo in $ctrl.photos | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="{{photo.imageUrl}}" class="thumb">
            <img ng-src="{{photo.imageUrl}}" alt="{{photo.location}}" />
          </a>
          <p>{{photo.location}}</p>
          <p>{{photo.tags}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
